html {
  background: rgb(221, 7, 7);
    height: auto;
    min-height: 200%;
    /* width: 1500px; */
    width: 100%;
  
  font-family: 'Play', sans-serif;
}

  
@media screen and (max-width: 960px) {
  html{
    width: 200vw;
    /* height: auto */
  }
}