.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  text-decoration: none;
  color: #fff;
  font-family: "Play", sans-serif;
}

mat-toolbar {
  background: #636266;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
